# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dev folders
/test/
/tests/
/config/

# dev files
/testem.js
/.travis.yml
/.env
/.editorconfig
/.eslintignore
/.eslintrc.js
/.template-lintrc.js
/.ember-cli

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
.idea
